control-dates-client/src/main/resources/service.xsd

<?xml version="1.0"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="uri://byu/c/ae/prod/controls/cgi/controlDatesWS.cgi" xmlns="uri://byu/c/ae/prod/controls/cgi/controlDatesWS.cgi"><xs:element name="ControlDatesWSService" type="ControlDatesWSServiceType"/><xs:complexType name="ControlDatesWSServiceType"><xs:sequence><xs:element name="request" type="requestType"/><xs:element name="errors" type="errorsType"/><xs:element name="response" type="responseType"/></xs:sequence></xs:complexType><xs:complexType name="requestType"><xs:sequence><xs:element name="method" type="xs:string"/><xs:element name="resource" type="xs:string"/><xs:element name="attributes" type="xs:string"/><xs:element name="status" type="xs:integer"/><xs:element name="statusMessage" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="errorsType"><xs:sequence><xs:element name="error" type="errorType"/></xs:sequence></xs:complexType><xs:complexType name="errorType"><xs:sequence><xs:element name="code" type="xs:integer"/><xs:element name="name" type="xs:string"/><xs:element name="message" type="xs:string"/><xs:element name="httpStatusCode" type="xs:integer"/></xs:sequence></xs:complexType><xs:complexType name="responseType"><xs:sequence><xs:element name="request_count" type="xs:integer"/><xs:element name="date_list" type="date_listType"/></xs:sequence></xs:complexType><xs:complexType name="date_listType"><xs:sequence><xs:element name="date_row" type="date_rowType" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType><xs:complexType name="date_rowType"><xs:sequence><xs:element name="date_type" type="xs:string"/><xs:element name="year_term" type="xs:string"/><xs:element name="start_date" type="xs:string"/><xs:element name="end_date" type="xs:string"/><xs:element name="description" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>